.dog-name {
  color: #646161;
  margin: 1rem;
  border: 2px solid #616161;
  width: 7rem;
  padding: 0.5rem;
  text-align: center;
}

.dogs-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 2rem;
}